/* index.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center; /* Center text horizontally */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 100%;
  margin: 0 auto;
}

.Nav {
  width: 100%;
}

.Search {
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

.BookResults {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BookItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left; /* Ensure text is left-aligned within the book item */
  width: 100%; /* Make sure the items take full width of container */
  max-width: 600px; /* Set a maximum width for better readability */
  height: 250px; /* Set a fixed height for all book items */
  box-sizing: border-box; /* Include padding and border in the height */
}

.BookThumbnail {
  margin-right: 20px; /* Space between the image and book info */
  max-height: 100px; /* Limit the image height */
}

.BookInfo {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the text vertically */
  overflow: hidden; /* Ensure overflow text does not expand the container */
  height: 100%; /* Make sure the height is 100% of the parent container */
}

.SaveBook button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get it to display as inline-block */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 12px; /* Rounded corners */
  transition-duration: 0.4s; /* Transition effects */
}

.SaveBook button:hover {
  background-color: white; /* White background on hover */
  color: #4CAF50; /* Green text on hover */
  border: 2px solid #4CAF50; /* Green border on hover */
}

.SaveBook button:disabled {
  background-color: #e7e7e7; /* Gray background */
  color: #aaa; /* Gray text */
  cursor: not-allowed; /* Not-allowed cursor */
}

.SaveBook button:disabled:hover {
  background-color: #e7e7e7; /* Keep gray background on hover */
  color: #aaa; /* Keep gray text on hover */
}

.SaveBook p {
  margin-top: 10px; /* Space above the message */
  color: red; /* Message color */
  font-size: 14px; /* Message font size */
}